<main class='app-content'>
  <div class='app-title'>
    <div>
      <h1><i class='fa fa-th-list'></i> Data Table</h1>
      <p>Table to display analytical data effectively</p>
    </div>
    <ul class='app-breadcrumb breadcrumb side'>
      <li class='breadcrumb-item'><i class='fa fa-home fa-lg'></i></li>
      <li class='breadcrumb-item'>Tables</li>
      <li class='breadcrumb-item active'><a href='#'>Data Table</a></li>
    </ul>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class='tile'>
        <div class='tile-body'>
          <a href='/product/add' class='btn btn-success'>Add New Product</a>
          <a href='/product/deleteall' class='btn btn-danger'>Delete All</a>
          <a href='/product/sort/asc' class='btn btn-warning'>Sort ASC</a>
          <a href='/product/sort/desc' class='btn btn-secondary'>Sort DESC</a>
          <br /><br />
          <form action='/product/search' method='post'>
            <input
              class='form-control'
              type='search'
              name='keyword'
              id=''
              placeholder='Type to search...'
              required
            />
          </form>
          <br />
          <table class='table table-hover table-bordered' id='sampleTable'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Category</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {{#each products}}
                <tr>
                  <td>{{name}}</td>
                  <td>
                    <img src='{{image}}' alt='' width='100' height='100' />
                  </td>
                  <td>{{price}}</td>
                  <td>{{category.name}}</td>
                  <td>
                    <a
                      href='/product/edit/{{_id}}'
                      class='btn btn-outline-success'
                    >Edit</a>
                    <a
                      href='/product/delete/{{_id}}'
                      class='btn btn-outline-success'
                      onclick="return confirm('Are you sure to delete this product ?')"
                    >Delete</a>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>